/* fonts start*/
@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Italic;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Bold;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: PlayfairDisplay-Black;
    src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: Ubuntu-Light;
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

@font-face {
    font-family: Inconsolata-Regular;
    src: url(../fonts/Inconsolata/static/Inconsolata-Regular.ttf);
}
/* fonts end */


/* Common Start */
body {
    margin: 0;
    padding: 0;
    font-family: 'PlayfairDisplay', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}

section{
    margin: 20px 0;
}

.container {
    width: 90%;
    border: 1px solid blueviolet;
    margin: 0 auto;
    overflow: hidden;
}

/* Common End */


/* Header Start */
header{
    border: 1px solid red;
    padding: 20px 0;
}
.container1 {

}

.logo {
    float: left;
    width: 10%;
    border: 3px solid greenyellow;
    padding-top: 10px;
}

.logo img{
    width: 100%;
}

.menu {
    width: 60%;
    float: right;
   
}

.menu ul{
    float: right;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 60px;
}

.menu ul li a{
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
}

.menu ul li:first-child {
    padding-left: 0;
}

.menu ul li:last-child {
    padding-right: 0;
}
/* Header End */


/* Banner Start */
.banner {

}

.container2 {
}

.b-content {
    width: 100%;
}

.b-content img{
    width: 100%;
}
/* Banner End */


/* Weekend Start */
/* Weekend End */


/* Comment Start */
/* Comment End */


/* Card 1 Start */
/* Card 1 End */


/* Subscription Start */
/* Subscription End */


/* Card 2 Start */
/* Card 2 End */


/* Load More Start */
/* Load More End */


/* Footer Start */
/* Footer End */